<div class="ju-width ju-row">
    <div class="ju-col-lg-24of24">

        <div class="ju-col-lg-24of24 ">
            <h1>Colors</h1>
        </div>

        <div class="ju-col-lg-24of24 ">
            <h4>Primary Color Scale</h4>
        </div>

        <div class="ju-col-lg-12of24 group" ng-repeat="color in Colors.buttonColors">
            <div class="ju-col-lg-12of24 " ng-repeat="buttonState in Colors.buttonsState">
                <div class="ColorBox " ng-class="Colors.getUtilityBackgroundColorClassName(color,buttonState)">
                    <div class="color"></div>
                    <div class="text">
                        {{ :: Colors.getColorNameAndState(color,buttonState)}}
                    </div>
                </div>
            </div>
        </div>

        <div class="ju-col-lg-24of24 ">
            <h4>Shades of Grey</h4>
        </div>

        <div class="ju-col-lg-12of24 group" ng-repeat="color in Colors.grays">
            <div class="ju-col-lg-12of24 " ng-repeat="buttonState in Colors.buttonsState">
                <div class="ColorBox " ng-class="Colors.getUtilityBackgroundColorClassName(color,buttonState)">
                    <div class="color"></div>
                    <div class="text">
                        {{ :: Colors.getColorNameAndState(color,buttonState)}}
                    </div>
                </div>
            </div>
        </div>

        <div class="ju-col-lg-6of24 " ng-repeat="color in Colors.shadesOfGrayNonState">
            <div class="ColorBox " ng-class="Colors.getUtilityBackgroundColorClassName(color,'')">
                <div class="color"></div>
                <div class="text">
                    {{ :: Colors.getColorNameAndState(color,'')}}
                </div>
            </div>
        </div>

        <div class="ju-col-lg-24of24 ">
            <h4>Complementary colors</h4>
        </div>

        <div class="ju-col-lg-6of24 " ng-repeat="color in Colors.complementary">
            <div class="ColorBox " ng-class="Colors.getUtilityBackgroundColorClassName(color,'')">
                <div class="color"></div>
                <div class="text">
                    {{ :: Colors.getColorNameAndState(color,'')}}
                </div>
            </div>
        </div>
    </div>
</div>