<div class="ju-row">

    <div class="ju-col-lg-6of24">
        <lable>Insert your text:</lable>
        <input type="text" ng-model="createButton.Button.text" />
        <br>
        <br>
        <label>Choose color:</label>
        <select ng-model="createButton.color" ng-init="createButton.color = createButton.colors[0]" ng-options="color.name for color in createButton.colors"></select>
        <br>
        <br>
        <label>Choose size:</label>
        <select ng-model="createButton.size" ng-init="createButton.size = createButton.sizes[0]" ng-options="size.name for size in createButton.sizes"></select>
        <br>
        <br>
        <label>Choose radius size:</label>
        <select ng-model="createButton.radiusOption" ng-init="createButton.radiusOption = createButton.radiusOptions[0]" ng-options="radius.name for radius in createButton.radiusOptions"></select>
        <br>
        <br>
        <!--<label>Choose shadow width:</label>-->
        <!--<select ng-model="createButton.shadowOption" ng-init="createButton.shadowOption = createButton.shadowOptions[0]" ng-options="shadow.name for shadow in createButton.shadowOptions"></select>-->
        <!--<br>-->
        <!--<br>-->
        <label>Choose Is disabled:</label>
        <select ng-model="createButton.disableOption" ng-init="createButton.disableOption = createButton.disabledOptions[1]" ng-options="disabled.name for disabled in createButton.disabledOptions"></select>
        <br>
        <br>
        <label>Choose Is inverse:</label>
        <select ng-model="createButton.inverseOption" ng-init="createButton.inverseOption = createButton.inverseOptions[1]" ng-options="inverse.name for inverse in createButton.inverseOptions"></select>
        <br>
        <br>
        <label>Choose Is loading:</label>
        <select ng-model="createButton.loadingOption" ng-init="createButton.loadingOption = createButton.loadingOptions[1]" ng-options="loading.name for loading in createButton.loadingOptions"></select>
        <br>
        <br>
        <label>Choose Icon:</label>
        <select id="icon" ng-model="createButton.icon" ng-init="createButton.icon = createButton.icons[0]" ng-options="icon.name for icon in createButton.icons"></select>

        <br>
        <br>
        <label>Choose Element:</label>
        <select ng-model="createButton.tagName" ng-init="createButton.tagName = createButton.tagNames[0]" ng-options="tagName.name for tagName in createButton.tagNames"></select>

    </div>

    <div class="ju-col-lg-18of24">
        <div ng-if="createButton.color.value!=0">

            <button  class="button-template Button"
                    ng-if="createButton.tagName.value=='button'"
                    ng-class="[
                    'Button--'+createButton.size.name,
                    'Button--'+createButton.color.name,
                    'u-Radios-width'+createButton.radiusOption.name,
                    {'Button--shadow':createButton.shadowOption.value==1},
                    {'is-disable':createButton.disableOption.value==1},
                    {'is-loading':createButton.loadingOption.value==1},
                    {'Button--loading':createButton.loadingOption.value==1},
                    {'is-inverse':createButton.inverseOption.value==1}
                    ]">

                <i class="fa" ng-class="[createButton.icon.name]" ng-if="createButton.icon.value!=0 && ((createButton.loadingOption = createButton.loadingOptions[1]))"></i>
                <span>{{createButton.Button.text}}</span>
            </button>

            <a  class="button-template Button"
                    ng-if="createButton.tagName.value=='link'"
                    ng-class="[
                    'Button--'+createButton.size.name,
                    'Button--'+createButton.color.name,
                    'u-Radios-width'+createButton.radiusOption.name,
                    {'Button--shadow':createButton.shadowOption.value==1},
                    {'is-disable':createButton.disableOption.value==1},
                    {'is-loading':createButton.loadingOption.value==1},
                    {'Button--loading':createButton.loadingOption.value==1},
                    {'is-inverse':createButton.inverseOption.value==1}
                    ]">

                <i class="fa" ng-class="[createButton.icon.name]" ng-if="createButton.icon.value!=0 && ((createButton.loadingOption = createButton.loadingOptions[1]))"></i>
                <span>{{createButton.Button.text}}</span>
            </a>
        </div>
        <br>
        <button ng-click="createButton.copyToClipboard()" class="Button Button--shadow Button--compact Button--blue-primary u-Radios-width5"> Click for export html button to clipboard</button>

    </div>

</div>